@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icon-fonts/icomoon.eot');
  src:  url('../fonts/icon-fonts/icomoon.eot') format('embedded-opentype'),
    url('../fonts/icon-fonts/icomoon.ttf') format('truetype'),
    url('../fonts/icon-fonts/icomoon.woff') format('woff'),
    url('../fonts/icon-fonts/icomoon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"]::before, [class*=" icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e900";
}
.icon-search:hover {
  color : black;
}


.icon-fb:before {
  content: "\e902";
 }
.icon-fb:hover{
  background: rgb(255, 255, 255);
  color: rgb(33, 30, 212);
  border-radius: 40%;
  box-shadow: 1px 1px 2px rgb(188, 157, 236), 0 0 0.5em rgb(255, 255, 255);
}

.icon-vk:before {
  content: "\e901";
}
.icon-vk:hover{
  background: rgb(255, 255, 255);
  color: blue;
  box-shadow: 1px 1px 2px rgb(188, 157, 236), 0 0 0.5em rgb(255, 255, 255);
  border-radius: 40%;
}

.icon-youtube:before {
  content: "\e912";
 }
 .icon-youtube:hover{
  background: rgb(255, 255, 255);
  color: rgb(255, 0, 0);
  box-shadow: 1px 1px 2px rgb(188, 157, 236), 0 0 0.5em rgb(255, 255, 255);
  border-radius: 40%;
}
