@font-face {
   font-family: BebasNeue;
   src: url(../fonts/BebasNeue.ttf)
}

@font-face {
   font-family: Tautz;
   src: url(../fonts/Tautz.ttf)
}

*,*::before, *::after{
   padding: 0;
   margin: 0;
   border: 0;
   box-sizing: border-box;
}
html {
   height: 100%;
   font-family: BebasNeue;
}
h1 {
   margin: 10px 0;
}

.container {
   max-width: 1180px;
   margin: 0 auto;
   padding: 0 10px;
   }

.header {
    position:fixed;
   width: 100%;
   top:0;
   left:0;
   z-index: 50;
}
.header::before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: black;
   z-index: 2;
   
}
.header__logo {
   z-index: 3;
}
.header__body{
   position: relative;
   display: flex;
   justify-content: space-between;
   height: 100px;
   align-items: center;
}
.header__burger {
   display: none;
}
.header__list {
   display: flex;
   position: relative;
   z-index: 2;
}
.active-link:first-child{
   text-decoration: overline;
}
.header__list a:hover, .footer__list a:hover{
   text-decoration: overline;
}
.header__list li{
  list-style: none;
}
.header__link {
   color: white;
   text-transform: uppercase;
   font-size: 20px;
   margin: 0px 0px 0px 20px;
   text-decoration: none;
}
.header__logo {
   position: relative;
   color: white;
   font-size: 70px;
   text-align: center;
   text-shadow: 1px 1px 20px rgb(255, 0, 212), 0 0 1em red;
   z-index: 5;
   align-items: center;
 
}
.header__logo-subtitle {
   font-size: 15px;
   position: absolute;
   top: 83px;
   left: 25px;
   color: white;
   z-index: 5;
}
.wrapper__main {
   display: flex;
   min-height: 100vh;
   background: black;
   flex-direction: column;
   padding: 60px 0px 0px 0px;
   color: white;
}
.wrapper {
   display: flex;
   min-height: 100vh;
   background: black;
   flex-direction: column;
   padding: 60px 0px 0px 0px;
   color: white;
}
.fullscreen{
   min-height: 100vh;
   background: url(../img/gif2.gif) center/ cover no-repeat fixed;
}

/*Стилизация слайдера*/
.slider {
   width: 100%;
   padding: 20px 0;
   position: relative;
   z-index: 6;
 }

.my-slide {

   padding-top: 80px;
}
.my-slide img{
   width: 100%;
   height: auto;
}


.slider .slick-prev {
   left: 50px;
   z-index: 101;
}

.slider .slick-next {
   right: 50px;
   z-index: 101;
}

.slider .slick-next::before,
.slider .slick-prev::before {
font-size: 20px;
color: rgb(7, 7, 7);
   
}


.slider .slick-dots button::before {
   content: "•";
   color: rgb(248, 248, 248);
   opacity: 1;
   position: absolute;
   top: 0;
   left: 0;
   width: 20px;
}

.slider .slick-dots .slick-active button{
   background-color: rgb(255, 255, 255);
   opacity: 0.7;
   border-radius: 10%;
}

.container__subtitle h1{
      color: rgb(237, 100, 123);
      text-shadow: 1px 1px 10px rgb(255, 0, 212), 0 0 1em rgb(255, 255, 255);
      text-align: center;
      font-size: 40px;
      margin: 50px 0;
     }
.main {
      width: 80%;
      margin: 0 auto;
   }
.container__box-main{

      display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     margin: 50px 0;
      }
   

.container__image img {
          margin: 0;
          border-radius: 25%;
          text-align: center;
        }
.container__box_text{
   text-align: center;
         color: white;
         padding: 0px 0px 0px 30px;
          }

.container__box_text p{
          font-size: 18px;
          font-family: tautz;
         
                 }
.container__box_text span {
          font-weight: bold;
} 
.content__text {
       font-size: 16px;
       line-height: 20px;
    }
   
.content__text p{
       margin: 0px 0px 20px 0px;
       text-align: justify;
       text-indent: 20px;
    }
    
   .container-grid {

      margin: 0 auto;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-auto-rows: 1fr;
      grid-column-gap: 30px;
      grid-row-gap: 30px;
       }
   .container__box
   {height: 100%;
    margin: 0 10px;
   padding: 10px; 
   text-align: center;
   font-family: tautz;
   color: white;
  }


 .container__box  img {
    box-shadow: 0  0px 25px rgb(141, 30, 122); 
    max-width: 80%;
    margin: 30px auto;
    border-radius: 50%;
    
  }
 
  .box-text {
     padding: 20px 0 0 0;
     font-size: 15px;
     text-align: center;
  }
  .box-text p{
   text-indent: 20px;
}

/* Блок стилей для блока Вог и поп-культура */

.pop-cult__container {
   display: flex;
   flex-direction: column;
   padding: 10px;
    }
.pop-cult__img {
   justify-content: center;
 }
figcaption {
   text-align: center;
}

.pop-cult__img img { 
 display: block;
  margin: 0 auto;
  max-width: 60%;
  justify-content: center;
  border-radius: 15%;
}
.pop-cult__text p{
  font-family: tautz;
  text-align: justify;
  text-indent: 20px;
}

/* Блок стилей для блока Фильмы о воге */

.films__container-grid {
   display: grid;
   grid-template-columns:  1fr 1fr 1fr 1fr 1fr;
   grid-gap: 10px;
   margin-top: 30px;
         }
.films__box img {
   margin: 0;
   max-width: 100%;
   opacity: 0.5;
}
.films__box img:hover {
      opacity: 1;
}
.films__box p {
   text-align: center;
}

/* Блок стилей для блока Вог и мода */
.fashion__container_box {
   display: flex;
   justify-content: center;
   
     
   }
   .fashion__container {
     display: grid;
     grid-template-columns: 1fr 1fr;
   }
.fashion__container_img{

   margin: 0 20px;
   text-align: center;
   justify-content: center;
}


.fashion__container_img img{
      width: 250px;
      box-shadow: 0  0px 15px rgb(141, 30, 122); 
}
.container__box_text1 p{

  padding: 5px 0;
  text-indent: 20px;
  font-family: tautz;
  text-align: justify;
}
/*Стилизация для страницы История*/
.wrapper_history{
   padding: 35px 0;
}
.main__container_history{
   display: flex;
   flex-direction: row;
}
.sidebar{
   background: rgba(56, 55, 55, 0.199);
   width: 100%;
   margin-right: 20px;

}
.sidebar__title{
   font-size: 25px;
   text-align: center;
   padding: 10px 0px;
   font-weight: bold;
}
.sidebar__item{
   display: flex;
   flex-direction: column;
  text-align: center;
}
.sidebar__item a{
   border: 1px solid rgb(255, 255, 255);
   background: rgba(56, 55, 55, 0.199);
   padding: 10px 0;
   text-decoration: none;
   color: white;}

.sidebar__item a:hover{
    background: rgb(212, 92, 132);}
    

.sidebar__item a:nth-child(2){
   border: none;

}
.sidebar__item a:nth-child(1),.sidebar__item a:nth-child(3){
   border-left: none;
   border-right: none;

}

/*Стилизация подстилей страницы История */

.substyles__content {
  display: flex;  
  justify-content: center;
   margin: 10px;
}
.substyles__content_box{
   box-shadow:1px 1px 10px rgba(255, 0, 212, 0.726) ;
   position: relative;
   margin: 10px;
   padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 30%;
  background: rgb(36, 36, 37);
  border: 2px solid black;
  font-family: tautz;
}
.substyles__content_box:hover {
   border: 2px solid white;
    box-shadow:1px 1px 10px rgb(255, 255, 255) ;
   background: rgb(212, 92, 132);
}
.substyles__content_title{
   width: 100%;
  font-size: 25px; 
  font-weight: bold;
  padding-bottom: 30px;
}
.substyles__content_title::before{
   content: "";
   position: absolute;
   top: 65px;
   left: 50%;
   width: 20%;
   border-bottom: 2px solid rgb(88, 10, 75);
}
.substyles__content_text{
   font-size: 12px;
   text-align: center;
   
}

/*Стилизация ГАЛЕРЕИ страницы История */

.gallery__items{
   padding: 10px 50px;
   padding-top: 20px;
   display: grid;
    grid-template-columns: repeat(4, minmax(100px,1fr));
    gap: 10px;}

.gallery__item {
   position: relative;
   padding: 0px 0px 85% 0px;
  }
.gallery__item img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;}
   @keyframes skewing {
      0%   { transform: scale(1); }
      20%  { transform: scale(1.1);
      border-radius: 20%; }
   }
   .gallery__item img:hover{
      animation: skewing 3s steps(1) 0s infinite;
      z-index: 2;
   }
   .gallery__item_big {
      grid-column: span 2;
      grid-row: span 2;
    }


   /*Стилизация страницы Соревнования */

   .wrapper_nomination{
      padding: 35px 0;
   }
  
   .container__competitions{
      display: flex;
      flex-direction: row;
   }
   .container__subtitle_competitions p {
      font-size: 20px;
      padding: 0 20px;
   }
   .block-competitions p{
      font-family: tautz;
      font-size: 14px;
      text-indent: 20px;
   }
  
   .cards{
    width: 30%;
    margin-left: 20px;
      
   }
   .block__text {
      width: 70%;
      padding: 20px;
      text-align: justify;
      font-family: tautz;
      font-size: 20px;
   
   }
   
   .block__text p{
      text-indent: 20px;
   
   }
  
   .block__img img {
    
     width:100%;
   object-fit: cover;
   }
   .cards ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    
    .cards li {
      
      border-bottom: 1px solid silver;
    }
    
    .cards li h1 {
      position: relative;
      margin: 1em 0;
      padding-left: 1em;
      font-size: 1em;
      color: rgb(175, 117, 156);
      cursor: pointer;
    }
    
    .cards li h1:focus {
      color: rgb(196, 196, 196);
      outline: 0;
    }
    
    .cards 
      li h1::before {
         content: '+';
         position: absolute;
         top: 0;
         left: 0;
         width: 1em;
         text-align: center;
    }
    
    li h1:focus::before {
      transform: rotate(90deg);
    }
    
    .cards li p {
      display: none;
    }
   .cards li h1:focus ~ p {
      display: block;
    }
    .a-link {
       text-align: center;
    }
    .a-link a{
      text-decoration: none;
      color: rgb(240, 175, 218);
      font-weight: bold;
      font-size: 25px;
   }


   /* Стилизация страницы Новости*/
 
.wrapper_news {
   padding: 25px 0;
}

.grid-news {
   position: relative;
   display: grid;
   grid-gap: 5px;
   grid-template-columns: 1fr 1fr 1fr ; 
   margin-bottom: 40px;
   }

.grid-item__subtitle{
  height: 120px;
align-items: center;
}
.grid-item__subtitle p {
 
   text-align: center;
   padding: 5px 0 0 0 ;
   margin: 0;
   position: absolute;
   bottom: 30px;
   left: 50%;
   }
.grid-item__subtitle h2{
   font-size: 20px;
    text-align: center;
}
.grid-item {
   position: relative;
   background: rgba(22, 22, 22, 0.856);
   justify-content:stretch;
   padding: 10px;
   display: flex;
   flex-direction: column;}

.grid-item img{
   width: 100%;  
   align-items: center;
}
.grid-item__text{font-family: tautz;
   padding: 10px 10px 50px 10px;
 
}

.grid-item__subtitle {
   position: relative;
   padding: 0px 0px 30px 0px;
   }
.grid-item__subtitle::before {
   content: "";
   position: absolute;
   width: 30%;
   bottom: -42px;
   height: 1px;
   background-color:#490744;
   margin: 10px 0 83px 0;
}

.grid-item__buttom {
display: block;
  position: absolute;
  left: 20px;
  bottom: 0;
   padding: 20px 0;
   font-size: 20px;}

.grid-item__buttom a{
   text-decoration: none;
   color: white;
   font-weight: bold;
   text-align: center;
   }
.grid-item__buttom a:hover{
   text-shadow:  1px 1px 10px rgb(206, 50, 136), 0 0 1em rgb(255, 149, 198);}

.nav-page{
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 30px;
   }
.nav-page p{
 padding: 0 30px;
  }
.nav-page a{
      text-decoration: none;
      color: white;
      box-shadow:  1px 1px 10px rgb(206, 50, 136), 0 0 1em rgb(255, 149, 198);
      border-radius: 50%;
      width: 5%;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
}
.nav-page a:hover{
   box-shadow:  1px 1px 10px rgb(206, 50, 136), 0 0 1em rgb(255, 149, 198);
   background: radial-gradient(rgb(247, 215, 215), #610e45);
   color: rgb(0, 0, 0);
   font-weight: bold;
   }

 /* стилизация формы для страницы Contacts */

.decor {
   position: relative;
   max-width: 400px;
   margin: 50px auto 0;
   background: rgb(255, 255, 255);
   border-radius: 30px;
   
}
.form-left-decoration, .form-right-decoration {
   content: "";
   position: absolute;
   width: 50px;
   height: 20px;
   border-radius: 20px;
}
.form-left-decoration {
   bottom: 60px;
   left: -30px;
}
.form-right-decoration {
   top: 60px;
   right: -30px;
}
.form-left-decoration:before, .form-left-decoration:after, .form-right-decoration:before, .form-right-decoration:after {
   content: "";
   position: absolute;
   width: 50px;
   height: 20px;
   border-radius: 30px;
   background: white;
}
.form-left-decoration:before {
   top: -20px;
}
.form-left-decoration:after {
   top: 20px;
   left: 10px;
}
.form-right-decoration:before {
   top: -20px;
   right: 0;
}
.form-right-decoration:after {
   top: 20px;
   right: 10px;
}
.circle {
   position: absolute;
   bottom: 80px;
   left: -55px;
   width: 20px;
   height: 20px;
   border-radius: 50%;
   background: white;
}
.form-inner {
   padding: 50px;
}
.form-inner input, .form-inner textarea, .form-inner button {
   
   font-family: 'Courier New', Courier, monospace;
   outline: none;
   display: block;
   width: 100%;
   padding: 0 20px;
   margin-bottom: 10px;
   background: #ffc0da;
   line-height: 40px;
   border-width: 0;
   border-radius: 20px;
 
}
.form-inner button {
   margin-top: 30px;
   background: #920974d2;
   border-bottom: 4px solid #570b40;
   color: white;
   font-size: 14px;
}
.form-inner button:hover {
   box-shadow: 1px 1px 10px rgb(255, 0, 212), 0 0 1em rgb(255, 255, 255);
 }
.form-inner button:active {
  transform: translateY(-5px);
}

.form-inner textarea {
   resize: none;
}
.form-inner h3 {
   margin-top: 0;
   font-weight: 500;
   font-size: 24px;
   color: #707981;
}

/*Стилизация страницы Контакты*/
.wrapper_contacts{
 padding: 50px 0 0 0;
}
.header__link .active-link{
text-decoration: overline;
     }
.footer__link .active-link{
text-decoration: overline;
        }
.header__link li:hover,
.footer__link li:hover{
   text-decoration: overline;
}
.container__contacts{
margin: 0 auto;
width: 80%;
}
.container__subtitle_contacts h1{
   font-size: 50px;
   text-shadow: 1px 1px 10px rgb(255, 0, 212), 0 0 1em rgb(255, 255, 255);
   margin-bottom: 0;
   text-align: center; }

.container__text {
   text-align: center;
   font-family: tautz;
}
.about-the-developer{
   margin-top: 5%;
   display: flex;
   justify-content: center;
}
.about-the-developer__img{
   text-align: center;
}
.about-the-developer img {
   border-radius: 20px;
   margin: 0 auto;
   width: 70%;
   box-shadow: 1px 1px 10px rgb(201, 201, 201), 0 0 1em rgb(153, 75, 118);
}

.about-the-developer__text p{
   font-family: tautz;
   padding: 0;
}

.video__container {
   padding-top: 5%;
   display: block;
   text-align: center;
}
.video__container p {
   font-family: tautz;
   font-size: 20px;
}

.video {
   position: relative;
   padding-bottom: 56.25%; /* задаёт высоту контейнера для 16:9 (если 4:3 — поставьте 75%) */
   height: 0;
   overflow: hidden;
 }
 .video iframe {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   border-width: 0;
   outline-width: 0;
 }


.footer{
      font-family: BebasNeue;
       background: black;
      display: flex;
      flex-wrap: wrap;
      justify-content:space-evenly;
      text-align: center;
      padding: 20px;
    }
.footer__link {
      display: flex;
      justify-content: center;
    }
.footer__link li{
       font-size: 20px;
      padding-left: 15px;
      text-align: center;
    }
.footer__menu {
       display: flex;
       flex-grow: 1;
       align-items: center;
        }
.sitemap{color: white;
          width: 50%;
       }
.footer__menu ul{
       width: 100%;
        }
.footer__menu p{
      font-size: 25px;
          }
.footer__menu a{
       text-decoration: none;
       color: white;
    }
.footer__menu li{
      list-style-type: none;
   }
   
.footer__link:first-of-type{
      padding: 0;
   }
.social {    
       color: white;
      flex-grow: 1;
      justify-content: center;
      align-items: center;
   }
.social-links {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 0;
   }
   
.social-links a{
      text-decoration: none;
      padding: 0 20px;
      font-size: 30px;
      color: grey;
   }
.footer-logo {
      width: 100%;
      justify-content: center;
      align-items: center;
   }
.footer-logo__title{
    
      color: white;
      font-size: 50px;
      text-shadow: 1px 1px 10px rgb(255, 0, 212), 0 0 1em rgb(255, 255, 255);
      text-align: center;}

.footer__menu p{
          font-weight: bold;
         font-size: 25px;
         padding: 20px 0px;
      }
@media (max-width:978px){
   .grid-news {
      grid-template-columns: 1fr 1fr; 
   }
   }

@media (max-width:767px){
  
   .container__subtitle h1{
      color: rgb(237, 100, 123);
      text-shadow: 1px 1px 10px rgb(255, 0, 212), 0 0 1em rgb(255, 255, 255);
      text-align: center;
      font-size: 25px;
      margin: 10px 0px 10px 0px;
      
     }
   body.lock {
      overflow: hidden;
   }
   .header__body{
      height: 50px;
   }
   .header__logo {
      color: white;
      font-size: 25px;
      text-align: center;
      text-shadow: 1px 1px 20px rgb(255, 0, 212), 0 0 1em red;
      z-index: 5;
      align-items: center;
      }
   .header__logo-subtitle {
      font-size: 5px;
      position: absolute;
      top: 40px;
      left: 20px;
      color: white;
      text-shadow: 1px 1px 20px rgb(255, 0, 212), 0 0 1em red;
      z-index: 5;
      }
   .header__burger {
      display: block;
      position: relative;
      width: 30px;
      height: 20px;
      z-index: 3;
   }
   .header__burger::before,
   .header__burger::after {
      content: "";
      background-color: #fff;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      transition: all 0.3s ease 0s;
   }
   .header__burger span {
      position: absolute;
      background-color: #fff;
      top: 9px;
      height: 2px;
      width: 100%;
      transition: all 0.3s ease 0s;
   }
   .header__burger::before{
      top: 0;
   }
   .header__burger::after{
      bottom: 0;
   }
   .header__burger.active span{
      transform: scale(0);
   
     }
   .header__burger.active::before{
      transform: rotate(45deg);
      top: 9px;
   }
   .header__burger.active::after{
      transform: rotate(-45deg);
      bottom:9px;
     }
   .header__menu {
      position: fixed;
      top: -100%;
      right: 0;
      width: 100%;
      height: 100%;
      background: rgb(99, 99, 99);
      padding: 70px 10px 20px 10px;
      transition: all 0.3s ease 0s;
      
   }
   .header__link {
      font-size: 14px;
   }
 
   .header__menu.active {
          top: 0;
   }
   .header__list {
      display: block;
   }
   .header__list li {
      margin: 0px 0px 20px 0px;
   }
   .wrapper__main{
      padding: 66px 0px 0px 0px;
    
   }
   .wrapper{
      padding: 40px 0px 0px 0px;
    
   }
      /* Слайдер */
   .my-slide {
      padding-top: 50px;
   }
   
.slider .slick-next::before,
.slider .slick-prev::before {
display: none;
   
}   
   /* Блок стилей для блока Что такое вог */
   .container__box {
      flex-direction: column;
   }
   .container__box_text p{
      font-size: 12px;
      
             }
   .container__image
   {
      text-align: center;
   }
   .container__image img {
      margin: 10px 0;
      width: 100%;
   }

   /* Блок стилей для блока Легенды Вога */
   .container-grid {
   margin: 0 auto; 
       }
   .container__box h3
   {
      font-size: 14px;
  }

  .fashion__container {
   display: flex;
   flex-direction: column;
 }
.fashion__container_img img{
    width: 60%;
    border-radius: 20px;
 }
 figcaption{
    font-size: 5px;
 }
 .container__box  img {
  
    max-width: 60%;
    margin: 30px auto;  
  }
 
  .box-text {
     padding: 20px 0 0 0;
     text-align: center;
  }
  .box-text p{
   text-indent: 20px; font-size: 10px;
}
/* Блок стилей для блока Вог и поп-культура */
.pop-cult__img img {
   margin: 0 auto;
   max-width: 80%;
}

figcaption {
   font-size: 10px;
}
.pop-cult__text p{
   text-align: justify;
   font-size: 12px;
   text-indent: 25px;
}
/* Блок стилей для блока Фильмы о воге */
.films__container-grid {
  padding-top: 10px;
}
.films__box p{
   font-size: 10px;
}
/* Блок стилей для блока Вог и мода */
.fashion__container_img{
   margin: 20px 0 0 0 ;
}
.container__box_text1 p{
   text-align: justify;
   font-size: 12px;
   text-indent: 25px;
}

/*Стилизация для страницы История*/
.wrapper_history {
   padding: 0px;
}
.main__container_history{
   display: flex;
   flex-direction: column;
}


/*Стилизация для страницы История Сайтбара*/

.sidebar__title{
   display: none;
}
.substyles__content {
   display: flex;  
   flex-direction: column;
   
 }
 .substyles__content_box{
  
   border-radius: 10px;
   display: flex;
   flex-direction: column;
   width: 80%;
   margin: 10px auto;
     font-family: tautz;
 }
 .substyles__content_title{
    width: 100%;
   font-size: 20px; 
   font-weight: bold;
   padding-bottom: 30px;
 }
 .substyles__content_title::before{
   top: 60px;
   }
 .substyles__content_text p{
   font-size: 12px;
   text-align: justify;
 }
 
/*Стилизация ГАЛЕРЕИ страницы История */

.gallery__items{
   grid-template-columns: repeat(2, minmax(100px,1fr));
   grid-auto-flow: dense;}

 /*Стилизация страницы Соревнования */
  .wrapper_nomination{
     padding: 0;
  }
 .container__competitions{
    flex-direction: column;}

   .cards {
      margin: 0;
      width: 100%;
   }
   .cards p {
      text-align: center;
   }
   .block__text {
      width: 100%;
      padding: 0;
      margin: 10px 0;
   }
   .block__text p{
      font-size: 12px;
      padding-bottom: 15px ;
   }
   .a-link {
      padding-top: 20px;
   }
   .a-link a{
     
      font-size: 15px;
   }


 /*Стилизация страницы НОВОСТИ */

   .wrapper_news {
      padding: 0;
   }
   .grid-news {
    grid-template-columns: 1fr; 
    width: 80%;
    margin: 0 auto;
  
   }
   .grid-item__text
   {display: block;
   font-size: 12px;
   font-family: tautz;
    max-height: 120px;
    padding-bottom: 30px;
   }
    .grid-item__buttom{
       font-size: 14px;
      display: block;
      display: flex;
      justify-content: center;
   }
   .grid-item {
      margin-bottom: 20px;
   }

   /*Стилизация страницы Контакты*/

.wrapper_contacts{
   padding:0;
}
.container__text{
   font-size: 12px;
   margin-bottom: 0;
}
.header__link .active-link{
text-decoration: overline;
     }
.footer__link .active-link{
      text-decoration: overline;
        }
.header__link li:hover,
.footer__link li:hover{
   text-decoration: overline;
}
.container__contacts{
   margin: 0 auto;
   width: 80%;
}
.container__subtitle_contacts h1{
   font-size: 25px;
}

.container__text {
   text-align: center;
   font-family: tautz;
   padding-top: 20px;

}
.about-the-developer {
   display: flex;
   flex-direction: column;
}
.about-the-developer{
   margin: 10% 0;
   display: flex;
   justify-content: center;
}
.about-the-developer__img{
   text-align: center;
}
.about-the-developer img {
border-radius: 20px;
margin: 0 auto;
width: 70%;
box-shadow: 1px 1px 10px rgb(201, 201, 201), 0 0 1em rgb(153, 75, 118);
}
.about-the-developer__text {
   text-align: center;
   padding-top: 20px;
   font-size: 12px;
}
input {
   width: 40%;
 }
.video__container p {
font-size: 12px;
}
.decor{
   margin-top: 10px 0;

}

.nav-page{
      font-size: 12px;
   }
.nav-page p{
 padding: 0 20px;
  }
  .nav-page a{
   text-decoration: none;
   color: white;
   box-shadow:  1px 1px 10px rgb(206, 50, 136), 0 0 1em rgb(255, 149, 198);
   border-radius: 50%;
   width: 5%;
   height: 5%;}
 
   .decor {
      width: 100%;
      height: 50%;
   }
/* Блок стилей для секции */
.fullscreen{
   min-height: 50vh;
   background: url(../img/gif2.gif) 0 0/100% auto no-repeat center fixed;
   }

   .footer__menu {
      flex-direction: column;
  
   }
   .footer__menu p{
      font-size: 15px;
      padding: 20px 0px;
   }
   .footer-logo__title{
      font-size: 30px;
   }
   
     .footer__link li{
      font-size: 14px;}


}
@media (max-width:385px){
   
   .container__box h3
   {
      font-size: 9px;
  }

   .grid-item__text{
      max-height: 200px;
   }
}